html, body{
	background-color: #F2F2F2;
	color: #303133;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	scroll-behavior: smooth;
}

div{
	margin: 0!important;
	padding: 0!important;
}


.navbar{
	background-color: #03254C;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
	background-attachment: fixed;
	background-position: center;
}

.navbar-nav>a{
	color:#FFFFFF;
	font-weight: 600;
	font-size: 14px;
	transition: .5s;
	letter-spacing: 2px;
}

.navbar-nav>a:hover{
	transform: translateY(-2px);
}


.join-btn{
	width: 100%;
}

.about{
	height: fit-content;
	background-color: #F2F2F2;
}

.about-text{
	padding: 10rem!important;

}

.join{
	height: fit-content;
	padding-top: 10rem!important;
	padding-bottom: 10rem!important;
}

.img-mrg{
	overflow: hidden;
	display: inline-block;
}

.service-img{
	width: 100%;
	position: center;
}

.sub-text{
	font-size: 1em;
	font-weight: bold;
	color: #006cff;
}

.blue{
	height: fit-content;
	background-color: #03254C;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	padding: 5rem!important;
}

.blue h1{
	color: #FFFFFF;
}

b{
	color: #03254C;
}

.footer{
	color: white;
	background-color: #03254C;
	height: fit-content;
	font-size: small;
	font-weight: 300;
	background-attachment: fixed;
	background-position: center;
}


h1{
	color: #03254C;
	font-size: 3em;
	font-weight: 800;
}

p{
	font-size: 1.2em;
}

.btn{
	background-color: #03254C;
	border: none;
	font-size: 1.2em;
	border-radius: 0px;
	font-weight: 600;
	transition: .5s;
}

.btn:hover{
	background-color: #021a35;
	transform: translateY(-2px);
}

.footer-logo{
	height: 300px;
}

.align-items-center {
	display: flex; 
	align-items: center;  /*Aligns vertically center */
	justify-content: center; /*Aligns horizontally center */
}

.navicon{
	height: 60px;
	transition: .5s;
}


.navicon:hover{
	transform: translateY(-2px);
}

.arrow-size{
	font-size: 3em;
	user-select: none;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 4px;
	padding-left: 4px;
}

.gallery{
	background-color: #DDDDDD;
	position: relative;
	height: fit-content;
}

.img-gallery{
	display: block;
	width: 100%;
	overflow: hidden;
	z-index: 2;
}

#topBtn {
	position: fixed; /* Fixed/sticky position */
	bottom: 60px; /* Place the button at the bottom of the page */
	right: 40px; /* Place the button 30px from the right */
	z-index: 90; /* Make sure it does not overlap */
	outline: none; /* Remove outline */
	background-color: #03254C; /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	font-weight: bolder;
	transition: 0.5s ease;
	border: none;
	border-radius: 100%;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);


}

#topBtn:hover {
	background-color: #021a35;
	transform: translateY(-10px);
}

.icon-size{
	vertical-align:bottom;
	font-size: 22px;
}

.centering{
	text-align: center;
}

.social-icon:hover{
	opacity: .8;
}

.img-footer{
	width: 150px;
}

.form-control{
	background-color: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0;
	color: #f2f2f2;
	border-color: #f2f2f2;
	border-width: 2px;
	font-size: medium;
}

.form-control:focus, .form-control:active{
	background-color: transparent;
	outline: none !important;
	box-shadow: none;
	color: whitesmoke;
}

option{
	background-color: #1a1a1a;
}

.form-border{
	border: solid!important;
	border-color: black;
	border-width: 2px!important;
}

.form-control:focus, .form-control:active{
	border-color: white;
}

::placeholder{
	color: white!important;
}

.map-container{
	overflow:hidden;
	position:relative;
	height: 0;
}

.map-container iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}

.contact-btn{
	background-color: #f2f2f2;
	font-size: small;
	font-weight: ;
	border-radius: 0px;
}

.contact-btn:hover{
	background-color: gray;
	color: white;
}

.navbar-toggler{
	border: none;
}

.navbar-toggler:focus, .navbar-toggler:active{
	border: none!important;
	outline: none !important;
	box-shadow: none;
}

.clientes-logo{
	width: 160px;
	transition: .5s;
	filter: brightness(10.0);
}

.clientes-logo:hover{
	transform: translateY(-15px);
}

.clientes-logo2{
	height: 100px;
	transition: .5s;
	filter: brightness(10.0);
}

.clientes-logo2:hover{
	transform: translateY(-15px);
}


@media only screen and (max-width: 760px){

	h1{
		font-size: xx-large;
	}

	p{
		font-size: medium;
	}

	.sub-text{
		font-size: small;
	}

	.btn{
		font-size: medium;
	}

	.blue{
		padding-left: 0rem!important;
		padding-right: 0rem!important;

	}

	.logo-home{
		width: 100%;
	}

}


/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #F1F1F1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #C1C1C1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #03254C;
}